html, body {
  height: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 1.2em;
}


h2 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

a {
  color: white;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 200px;
  height: 400px; 
  margin-top: -200px; /* Half the height */
  margin-left: -100px; /* Half the width */
}

.profile {
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 200px;
  height: 200px; 
  margin-top: -100px; /* Half the height */
  margin-left: -100px; /* Half the width */
}

.profile-links {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 50px;
  width: 199px;
  margin-top: -25px; /* Half the height */
  margin-left: -100px; /* Half the width */
}

#left {
  width: 25%;
  height: 100%;
  position: fixed;
  background: #181818;
}

#right {
  width: 75%;
  height: auto;
  position: absolute;
  right: 0;
  background: white;
}

.header {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #2c2c2c;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
}

ul {
  margin: 0;
  text-align: center;
}

li {
   display: inline-block;
}

.text {
  margin: 5%;
}

.center-vertical {
  top: 50%; 
  margin-left: 5%;
  position: relative;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.card {
  margin: 12%;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-color: #7E7E7E;
  height: 635px;
  width: 75%;
}

.card-header {
  color: white;
  height: 50px;
  background-color: #2c2c2c;
}

.card-img-container {
  height: 250px;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-tags {
  margin: 5%;
  height: 25px;
}

.card-tag {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #f1e05a;
  background-color: #f1e05a;
  height: 100%;
  font-size: 16px;
}

.card-tag-text {
  text-align: center;
}

.card-description {
  margin: 5%;
}

.card-links {
  margin: 5%;
  text-align: center;
}

.button {
  background-color: #2c2c2c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
}

.button > a {
  text-decoration: none;
}