body {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  font-size: 1rem;
  color: #212121;
  box-sizing: border-box;
}

a {
  color: #1faa9b;
  font-weight: 350;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #0e4b45;
  font-weight: 350;
}

b {
  font-weight: bolder;
}

li > b {
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem 0;
}

ul li:before {
  content: "\2022";
  color: #1faa9b;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

blockquote {
  line-height: 1.5;
  color: #808080;
  font-style: italic;
  padding: 0.75rem 1.75rem;
  margin: 0 0 1.5rem;
  font-size: 1.25rem;
  border-left: 3px solid #c6c6c6;
}

blockquote > * {
  font-size: 1.25rem;
}

blockquote > b {
  font-weight: 700;
}

figure {
  font-family: monospace;
  margin: 1.5rem 0;
}

pre {
  display: block;
  margin: 0 0 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  border-radius: 0;
  font-family: monospace;
}

code > span {
  font-family: monospace;
}

/* Navbar */
.nav-bar {
  padding: 0 2rem;
  margin: 0 -2rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.20);
  top: 0;
}

.nav-bar__list {
  padding: 0;
  margin: 0;
  line-height: 4rem;
  width: 100%;
  display: flex;
}

.nav-bar__link {
  line-height: 4rem;
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}

.nav-bar__link > li {
  list-style: none !important;
}

.nav-bar ul li:before {
  content: "";
  list-style: none !important;
}

.nav-bar__link-name {
  margin: 0 1rem 0 0;
  margin-right: auto;
}

.nav-bar__link > a {
  font-weight: bolder;
  font-size: 1rem;
}

/* Introduction Section */
.intro-wrapper {
  margin-top: 8rem;
}

.intro-wrapper__link, .intro-wrapper__link:hover {
  font-weight: 600;
}

.intro-wrapper__header {
  padding: 0.25rem 0;
  font-size: 3rem;
}

.intro-wrapper__section > p,
.intro-wrapper__section a {
  font-size: 1.25rem;
  opacity: 0.87;
  line-height: 1.5;
}

.intro-wrapper__section a {
  font-weight: 600;
}

.intro-wrapper__social-links {
  margin-bottom: 1.5rem;
}

.intro-wrapper__social-links > a {
  font-size: 1.25rem;
}

/* Project Section */
.projects {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.projects-row {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.projects-row__img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: 20px solid white;
  cursor: zoom-in;
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in;
}

.project-information {
  padding: 1.25rem;
}

.project-information__title {
  margin: 1rem 0 0.75rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.project-information__description {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0.5rem 0 1rem;
  color: black;
  font-weight: lighter;
}

.project-information__btn {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid #0e4b45;
  color: #FF5252;
  font-size: 1rem;
  font-family: 'Helvetica', sans-serif;
}

.project-information__heading {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.5rem;
  margin-top: 0;
  font-style: italic;
  color: #808080;
}

.project-information__section-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Blog */
.posts-container, .post-header, .post-container {
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.post-container__pager {
  display: flex;
  justify-content: space-between;
  margin: 1.75rem;
  flex-wrap: wrap;
}

.post-container__pager-link {
  margin-bottom: calc(3rem / 2);
}

.posts-container, .post-container > p {
  line-height: 1.5;
  font-size: 1rem;
}

.post-img {
  width: 100%;
}

.post-container > h2 {
  font-weight: 800;
  font-size: 1.75rem;
}

.post-container > h3 {
  font-weight: 800;
  font-size: 1.5rem;
}

.post-container > h4 {
  font-weight: 800;
  font-size: 1.25rem;
}

.post-preview {
  margin: 2rem 0;
}

.post-preview__title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #1faa9b;
  margin-top: 1rem;
  margin-bottom: 0;
}

.post-preview__subtitle {
  font-weight: 300;
  margin: 0 0 0.75rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.post-preview__meta, .post-meta {
  font-size: 1rem;
  color: #808080;
  font-style: italic;
}

.post-preview__separator {
  border: 0;
  border-top: 1px solid #c6c6c6;
}

.post-preview__separator:last-child {
  display: none;
}

.post-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.post-header {
  margin-bottom: -5rem;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding: 2rem;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.modal-content {
  max-width: 75%;
  max-height: 100%;
}

/* Add Animation - Zoom in the Modal */
.modal-content { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform:scale(0)
  } 
  to {
    transform:scale(1)
  }
}

/* Modal Close Button */
.close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    max-width: 50%;
  }
}

@media only screen and (max-width : 768px) {
  .project {
    border: 0;
    width: 100%;
  }
  .project-information {
    padding: 1.25rem;
  }

  .modal-content {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
}

@media only screen and (max-width : 576px) {
  .intro-wrapper__header {
    padding: 0.25rem 0;
    font-size: 3rem;
  }

  .intro-wrapper__section {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .project-information {
    padding: 0;
  }

  .project-information__section-text {
    margin: 0;
  }

  .projects-row__img {
    border: none;
    cursor: zoom-in;
  }

  .modal-content {
    max-width: 90%;
  }
}