---
layout: page
title: "Blog"
---

{% for post in site.posts %}
  {% if post.tags contains 'Post' %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-preview__title">            
                {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-preview__subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-preview__meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
  {% endif %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div class="pager">
  {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  {% endif %}
</div>
{% endif %}
