---
layout: post-index
title: Tutorials
permalink: /tutorials/
image:
  feature: abstract-1.jpg
  background: tweed.png
---

{% for post in site.posts %}
  {% if post.tags contains 'Tutorial' %}
    <article class="hentry">
      <header>
        <div class="entry-meta">
          <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span>

          <span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span>


        </div>

        {% if post.link %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}"><i class="fa fa-angle-double-right"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
        {% endif %}
      </header>

      <div class="entry-content">
        <p class="post-excerpt">{{ post.excerpt | strip_html }} [<a style="color:red" href="{{ site.url }}{{ post.url }}">read more</a>]</p>
      </div>
    </article>
  {% endif %}
{% endfor %}

