<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title> {% if page.title %} {{ page.title }} | {% endif %} David Leonard | Engineer</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pygment_trac.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1> David Leonard</h1>
        

        <nav role="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        </header>

        {{ content }}

        <footer>
            <p>David Leonard Personal Site 2014 | All Rights Reserved. </p>
        </footer>
    </div>

    <body>
    
    <script src="/js/scale.fix.js"></script>
  </body>

</body>
</html>