<footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                        </div>
                        <div class="footer-col col-md-4">
                            <div class="portfolio-head text-center">
                                <h4>Around the Web</h4>
                            </div>
                            <br>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://github.com/DrkSephy"><i class="fa fa-github"></i></a>
                                </li>
                                <li><a href="https://bitbucket.org/DrkSephy"><i class="fa fa-bitbucket"></i></a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/drksephy"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-4">
                        </div>
                    </div>
                </div>
            </div>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
