body {
    font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
    background: black;
    color: #ececec;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a{
    color: #ccc;
    text-decoration: none;
}

a:hover{
    color: #ececec;
    text-decoration: underline;
}