<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>

<div class="navigation">
  <a href="/" class="logo" title="Site Logo">David <strong>Leonard</strong></a>
</div>

<div class="content" role="main">
  <article class="post">
    <div class="article-image">
      <div class="post-image-image" style="background-image: url(/images/{{page.image}})"></div>
      <div class="post-meta">

        <center><a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a></center>
      </div>
    </div>


    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>

  </article>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>